<div *ngIf="activePageTitle" class="content-top clearfix">
  <h1 class="al-title" translate>{{ activePageTitle }}</h1>

  <!-- <ul class="breadcrumb al-breadcrumb">
    <li *ngIf="isUser && activePageTitle !== 'Upload'" class="breadcrumb-item">
      <a routerLink="/pages/upload" translate>{{'general.home'}}</a>
    </li>

    <li *ngIf="isAdmin && activePageTitle !== 'Songs'" class="breadcrumb-item">
      <a routerLink="/pages/upload" translate>{{'general.home'}}</a>
    </li>

    <li class="breadcrumb-item active" translate>{{ activePageTitle }}</li>
  </ul> -->
</div>
