<ba-card cardTitle="Servicios" baCardClass="feed-panel">
  <div class="feed-messages-container">
    <div [@fadeInAnimation] class="feed-message" *ngFor="let message of servicios.results"
      (click)="expandMessage(message)">
      <div class="message-icon">
        <img class="photo-icon" src="{{ message.author || '/assets/img/theme/no-photo.png' }}">
      </div>
      <div class="text-block text-message">
        <div class="message-header">
          <span class="author">
            {{ message.name }}
          </span>
        </div>
        <div class="message-content line-clamp" [ngClass]="{'line-clamp-2' : !message.expanded}">
          <span *ngIf="message.description && message.expanded">
            {{ message.description }}
            <br/><br/>
          </span>
          <span *ngIf="message.leader.length">
              Líderes:
            <span *ngFor="let leader of message.leader; last as isLast">
              {{ leader.first_name + ' ' + leader.last_name }}
              <span *ngIf="!isLast">{{ ', ' }}</span>
          </span>
          </span>
          <span *ngIf="message.contact.length">
            <br/><br/>
            Contactos: {{ message.contact }}
          </span>
          <span *ngIf="message.members.length">
              <br/><br/>
              Miembros:
            <span *ngFor="let member of message.members; last as isLast">
              {{ member.first_name + ' ' + member.last_name }}
              <span *ngIf="!isLast">{{ ', ' }}</span>
          </span>
          </span>
        </div>
        <div *ngIf="message.day_display && message.time" class="message-time">
          <div class="ago-time">
            Fecha del servicio: {{ message.day_display + ' ' + message.time }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div [@fadeInAnimation] *ngIf="servicios.count === 0" class="row">
    <div class="mx-auto">
      <br/>
      <br/>
      <div class="alert alert-danger" role="alert">
        <strong>Ops!</strong> No se encontraron resultados
      </div>
    </div>
  </div>

  <div [@fadeInAnimation] *ngIf="servicios.count > 20" class="row">
    <div class="mx-auto">
      <br/>
      <br/>
      <ngb-pagination (pageChange)="reloadActividades($event)" [collectionSize]="servicios.count"
        [(page)]="page" [maxSize]="5" [pageSize]="20" [rotate]="true" [ellipses]="false"
        [boundaryLinks]="true" [disabled]="pageDisabled"></ngb-pagination>
    </div>
  </div>

</ba-card>
