@import '../../theme/sass/auth';
.text-account{
  font-size: 16px;
}
.logo-sign-in{
    margin-bottom: 45px;
}
.label-term{
  margin-left: 5px;
  margin-top: 10px;
}
.text-link{
  font-size: 12px;
  color: #fff !important;
  transition: all .3s ease;
  margin-left: 5px;
  margin-top: 3px;
  position: relative;
  top: 1px;
}
a:hover{
  text-decoration: underline !important;
  transition: all .3s ease;
}
