<div class="row">
  <div class="mx-auto col-8 typography-widget">

    <ba-card cardTitle="Contacto">
      <br/><br/>

      <div [@fadeInAnimation] *ngIf="contacto.email" class="section-block">
        <h2>Correo: {{ contacto.email }}</h2>
        <br/><br/>
      </div>
      <div [@fadeInAnimation] *ngIf="contacto.phone" class="section-block">
        <h2>Teléfonos: {{ contacto.phone }}</h2>
        <br/><br/>
      </div>
      <div [@fadeInAnimation] *ngIf="contacto.address" class="section-block">
        <h4>Dirección: {{ contacto.address }}</h4>
        <br/><br/>
      </div>

    </ba-card>

  </div>
</div>
