<ba-card cardTitle="Publicaciones" baCardClass="feed-panel">

  <div class="row container" style="margin-bottom: 10px;">

    <div class="form-group text-left col-3 offset-3">
      <label>Filtrar por categoría:</label>
      <select [disabled]="pageDisabled" [(ngModel)]="filters.categories" (ngModelChange)="page = 1; reloadPublicaciones(page);"
        class="form-control">
        <option value="">Todas</option>
        <option *ngFor="let filter of categorias" [value]="filter.id">
          {{ filter.name }}
        </option>
      </select>
    </div>

    <div class="form-group text-left col-3" style="margin-top: 20px;">
      <form (ngSubmit)="page = 1; reloadPublicaciones(page);">
        <div class="input-group">
          <input [disabled]="pageDisabled" [(ngModel)]="filters.search" [ngModelOptions]="{standalone: true}"
            type="text" class="form-control" placeholder="buscador" />
          <span (click)="page = 1; reloadPublicaciones(page)" class="input-group-addon cursor-pointer">
            <i class="fa fa-search"></i>
          </span>
        </div>
        <div *ngIf="filters.search.length" [@fadeInAnimation] (click)="filters.search = ''; page = 1; reloadPublicaciones(page);"
          class="cursor-pointer close-search">
          <i class="ion ion-close-round"></i>
        </div>
      </form>
    </div>

  </div>

  <div class="feed-messages-container">
    <div [@fadeInAnimation] class="feed-message" *ngFor="let message of publicaciones.results"
      (click)="expandMessage(message)">
      <div class="message-icon">
        <img class="photo-icon" src="{{ message.author || '/assets/img/theme/no-photo.png' }}">
      </div>
      <div class="text-block text-message">
        <div [@fadeInAnimation] *ngIf="!message.expanded" class="message-header">
          <span class="author">
            {{ message.title }}
          </span>
        </div>
        <div [@fadeInAnimation] *ngIf="!message.expanded" class="message-content">
          <span *ngIf="message.categories.length">Categorías: </span>
          <span *ngFor="let category of message.categories; last as isLast">
            {{ category.name }}
            <span *ngIf="!isLast">{{ ', ' }}</span>
          </span>
        </div>
        <div [@fadeInAnimation] *ngIf="message.expanded">
          <span [innerHTML]="message.text"></span>
        </div>
        <div *ngIf="message.date" class="message-time">
          <div *ngIf="message.owner" class="post-time">
            <span>
              Creado por:
              <span *ngIf="message.owner.first_name">
                {{ message.owner.first_name }}
              </span>
            <span *ngIf="message.owner.last_name">
                {{ message.owner.last_name }}
              </span>
            </span>
          </div>
          <div class="ago-time">
            Fecha de la Publicación: {{ message.date | date: 'fullDate' }} {{ message.date | date: 'shortTime' }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div [@fadeInAnimation] *ngIf="publicaciones.count === 0" class="row">
    <div class="mx-auto">
      <br/>
      <br/>
      <div class="alert alert-danger" role="alert">
        <strong>Ops!</strong> No se encontraron resultados
      </div>
    </div>
  </div>

  <div [@fadeInAnimation] *ngIf="publicaciones.count > 20" class="row">
    <div class="mx-auto">
      <br/>
      <br/>
      <ngb-pagination (pageChange)="reloadPublicaciones($event)" [collectionSize]="publicaciones.count"
        [(page)]="page" [maxSize]="5" [pageSize]="20" [rotate]="true" [ellipses]="false"
        [boundaryLinks]="true" [disabled]="pageDisabled"></ngb-pagination>
    </div>
  </div>

</ba-card>
