/* You can add global styles to this file, and also import other style files */
.animated-300 {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.cursor-pointer {
  cursor: pointer;
}
.ui-autocomplete-multiple-container.ui-inputtext {
    clear: left;
    cursor: text;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 10px 8px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.1) !important;
    width: 100% !important;
    height: auto !important;
}
.ui-inputtext {
    background: transparent !important;
    color: #fff;
    transition: .2s;
}
.ui-autocomplete {
    zoom: 1;
    cursor: pointer;
    box-shadow: none;
    position: relative;
    display: inline-block;
    width: 100% !important;
    height: auto !important;
}
.ui-widget-header .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-state-highlight {
    border-color: #50388a;
    background: #50388a;
    color: #FFFFFF;
}
.ui-autocomplete-input-token input {
    border: 0 none;
    width: 10em;
    outline: medium none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    color: #fff;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #5a4098 !important;
}
a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: #fff;
    text-decoration: none;
}
